<!-- Website Info start -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>33MUBU</title>
  </head>
  <!-- Website Info end -->
  <body>
    <!-- Navbar start -->
    <nav>
      <div class="navbar">
        <div class="logo">
          <a href="index.html">MUBU</a>
        </div>
        <ul class="menu">
          <li><a href="cart.html">CART</a></li>
          <li><a href="account.html" id="select"> ACCOUNT </a></li>
        </ul>
      </div>
    </nav>
    <!-- Navbar end -->
    <!-- Accoun tbox start -->
    <div class="accountbox">
      <div class="categories">
      <a>Historique des commandes</a>
      <a>Moyens de paiement</a>
      <a>Adresse de livraison</a>
      </div>
    </div>
    <!-- Accoun tbox end -->
  </body>
</html>
