  <!-- Website Info start -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>33MUBU</title>
  </head>
  <!-- Website Info end -->
  <body>
    <!-- Navbar start -->
    <nav>
      <div class="navbar">
        <div class="logo">
          <a href="index.html">MUBU</a>
        </div>
        <ul class="menu">
          <li><a href="cart.html" id="select">CART</a></li>
          <li><a href="account.html"> ACCOUNT </a></li>
        </ul>
      </div>
    </nav>
    <!-- Navbar end -->
  </body>
</html>
