  <!-- Website Info start -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link rel="icon" href="MUBU33/favicon.ico" type="image/x-icon"/>
    <title>MUBU</title>
  </head>
  <!-- Website Info end -->
  <body>
    <!-- Navbar start -->
    <nav>
      <div class="navbar">
        <div class="logo">
          <a href="index.html">MUBU</a>
        </div>
        <ul class="menu">
          <li><a href="cart.html" class="select">CART</a></li>
          <li><a href="account.html"> ACCOUNT </a></li>
        </ul>
      </div>
    </nav>
    <!-- Navbar end -->
    <section class="sec">
      <div class="products">
        <!-- card start -->
        <div class="card">
          <div class="img"><img src="MUBU33/mubu-tee-white.png" alt="" /></div>
          <div class="title">MUBU Tee White</div>
          <div class="box">
            <div class="price">45€</div>
          </div>
        </div>
        <!--card end -->
        <!-- card start -->
        <div class="card">
          <div class="img"><img src="MUBU33/mubu-tee-white.png" alt="" /></div>
          <div class="title">MUBU Tee White</div>
          <div class="box">
            <div class="price">45€</div>
          </div>
        </div>
        <!--card end -->
        <!-- card start -->
        <div class="card">
          <div class="img"><img src="MUBU33/mubu-tee-white.png" alt="" /></div>
          <div class="title">MUBU Tee White</div>
          <div class="box">
            <div class="price">45€</div>
          </div>
        </div>
        <!--card end -->
        <!-- card start -->
        <div class="card">
          <div class="img"><img src="MUBU33/mubu-tee-white.png" alt="" /></div>
          <div class="title">MUBU Tee White</div>
          <div class="box">
            <div class="price">45€</div>
          </div>
        </div>
        <!--card end -->
        <!-- card start -->
        <div class="card">
          <div class="img"><img src="MUBU33/mubu-tee-white.png" alt="" /></div>
          <div class="title">MUBU Tee White</div>
          <div class="box">
            <div class="price">45€</div>
          </div>
        </div>
    </section>
        <!--card end -->
  </body>
</html>
